{% extends 'base.jinja' %}

{% block content %}
    <h1>Greetings CDN</h1>
    <h2>Instructors</h2>
    {% for instructor in instructors %}
        <span>{{ instructor.title() }} </span>
    {% endfor %}
    <h2>Students</h2>
    {% for student in students %}
        <p>{{ student.title() }}</p>
    {% endfor %}
{% endblock %}